body {
    background: #113;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fafafa;
}

.wheel {
    max-width: 70%;
    max-height: 70%;
    margin: 0 auto;
    display: block;
}
