body {
    background: #113;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fafafa;
    perspective: 500px;
    overflow:hidden;
}

.wheel {
    max-height: 80vh;
    margin: 0 auto;
    margin-top: 10vh;
    display: block;
    transition-property: transform;
    transition-timing-function: ease-out;
}
